.hall-manage-navi{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin-right: 10px;
}

.hall-manage-navi-item{
    flex: none;
    margin-left: 10px;
}