.hall-manage-navi{
    display: flex;
    flex-direction: row;
}

.hall-manage-navi-view{
    flex: 1;
}

.hall-manage-navi-add{
    flex: 1;
}

.hall-manage-navi-modify{
    flex: 1;
}

.hall-manage-navi-delete{
    flex: 1;
}
