.refund-item {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding: 20px;
    flex-direction: column;
}

.refund-movie {
    flex: 1;
    font-size: 20px;
    flex-direction: column;
    margin-bottom: 10px;
}

.refund-time {
}

.refund-price {
}

.change-btn {
    float: right;
    margin-right: 10px;
}

.delete-btn {
    float: right;
    margin-right: 10px;
}