<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>影院统计</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminCouponPresent.css"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminCouponPresent.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title" th:text="${session.user.username}"></p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 活动管理</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/refund/manage"><i class="icon-ticket"></i> 退票管理</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/card/manage"><i class="icon-credit-card"></i> 会员卡管理</a></li>
            <li role="presentation" class="active"><a href="#" th:if="${session.user.auth>1}"><i class="icon-money"></i> 赠送优惠券</a></li>
            <li role="presentation" th:if="${session.user.auth>1}"><a href="/admin/role/manage"><i class="icon-user"></i> 影院角色</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-item">
            <span class="title gray-text">选择将被赠送的会员</span>
            <div class="content-card card">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <div class="form-group" style="margin-top:15px">
                            <div class="col-sm-2" style="text-align:right">
                                <label class="control-label" for="total_consume_input">总消费金额：</label>
                            </div>
                            <div class="col-sm-4" style="text-align:left">
                                <input type="number" class="form-control" id="total_consume_input" value="0">
                            </div>
                            <div class="col-sm-3" style="text-align:right">
                                <button type="button" id="query_btn" class="btn btn-primary">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="user-table"></table>
            </div>
        </div>
        <div class="content-item">
            <span class="title gray-text">选择优惠券</span>
            <div class="content-card card">
                <table id="coupon-table"></table>
            </div>
        </div>
        <button type="button" id="present_btn" class="btn btn-primary">赠送</button>
    </div>
</div>

</body>
</html>