<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/adminCinemaManage/ViewHall/ViewHall.css"/>
    <link rel="stylesheet" type="text/css" href="/js/adminCinemaManage/HallManageNavi/HallManageNavi.css"/>
    <link rel="stylesheet" type="text/css" href="/js/adminCinemaManage/ManageableHallList/ManageableHallList.css"/>
    <link rel="stylesheet" type="text/css" href="/js/adminCinemaManage/AddHall/AddHall.css"/>
    <link rel="stylesheet" type="text/css" href="/js/adminCinemaManage/HallInfoForm/HallInfoForm.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/Component.js"></script>
    <script src="/js/adminCinemaManage/utils.js"></script>
    <script src="/js/components/AdminPanel.js"></script>
    <script src="/js/adminCinemaManage/HallManageNavi/HallManageNavi.js"></script>
    <script src="/js/adminCinemaManage/ManageableHallList/ManageableHallList.js"></script>
    <script src="/js/adminCinemaManage/HallInfoForm/HallInfoForm.js"></script>
    <script src="/js/adminCinemaManage/ViewHall/ViewHall.js"></script>
    <script src="/js/adminCinemaManage/AddHall/AddHall.js"></script>
    <script src="/js/adminCinemaManage/ModifyHall/ModifyHall.js"></script>
    <script src="/js/adminCinemaManage/RemoveHall/RemoveHall.js"></script>
    <script src="/js/adminCinemaManage/CanSeeDay/CanSeeDay.js"></script>
    <script src="/js/adminCinemaManage/AdminCinemaManage.js"></script>

</head>
<body id="body">
</body>
</html>