<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抽奖</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/js/components/UserHeader/UserHeader.css"/>
    <link rel="stylesheet" type="text/css" href="/js/UserLottery/userLottery.css"/>
    <link rel="stylesheet" type="text/css" href="/js/UserLottery/ShowLottery/ShowLottery.css"/>
    <link rel="stylesheet" type="text/css" href="/js/UserLottery/LotteryCategory/LotteryCategory.css"/>
    <link rel="stylesheet" type="text/css" href="/js/UserLottery/LotteryButton/LotteryButton.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/Component.js"></script>
    <script src="/js/components/UserHeader/UserHeader.js"></script>
    <script src="/js/UserLottery/userLottery.js"></script>
    <script src="/js/UserLottery/ShowLottery/ShowLottery.js"></script>
    <script src="/js/UserLottery/LotteryCategory/LotteryCategory.js"></script>
    <script src="/js/UserLottery/LotteryButton/LotteryButton.js"></script>
    <script src="/js/UserLottery/PayModal/PayModal.js"></script>
</head>
<body>
    <div id="nav-top-container"></div>
    <div id="user-lottery-container"></div>
    <div id="lottery-coupon-container"></div>
    <div id="pay-modal-container"></div>
</body>
</html>