#banner-box{
    width: 100%;
    height: 400px;

    position: relative;
}

#banner-list{
    width: 100%;
    height: 360px;
    overflow: hidden;
    position: absolute;
}

#banner-list ul li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    transition: all 0.3s ease-out;
}

#banner-list ul li a img{
    width: 650px;
    height: 360px;
    border:none;
    float: left;
}
.banner-1{
    transform:translate3d(0px,0,0) scale(0.81);
    transform-origin:30% 50%;
    opacity: 0.8;
    z-index: 2;
}
.banner-2{
    transform:translate3d(224px,0,0) scale(1);
    z-index: 3;
    opacity: 1;
}
.banner-3{
    transform:translate3d(449px,0,0) scale(0.81);
    transform-origin:70% 50%;
    opacity: 0.8;
    z-index: 2;
}

#button-list{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-list a div{
    margin: 0 5px 0 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.bg-grey {
    background-color: #707070;
}
.bg-black {
    background-color: #070707;
}